body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.togglebutton {
    background : url(../images/checkbox.gif) no-repeat 0 0 !important;
}
.x-btn-pressed .togglebutton {
    background-position : 0 -16px !important;
}
.icon-delete-context {
    background: transparent url(../images/delete.png) no-repeat center center !important;
}
.icon-delete {
    width: auto;
    height: 16px;
    background: transparent url(../images/cross.png) no-repeat left center !important;
}
.icon-add {
    background:url(../images/add.gif) no-repeat left center !important;
}
.icon-save {
    background:url(../images/save.gif) no-repeat left center !important;
}

.resource-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,e0e0e0+50,abb9bc+100 */
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(left, #fcfcfc 0%, #e0e0e0 50%, #abb9bc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fcfcfc 0%,#e0e0e0 50%,#abb9bc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fcfcfc 0%,#e0e0e0 50%,#abb9bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#abb9bc',GradientType=1 ); /* IE6-9 */
}



.hide-lines {
	border-style: hidden !important;
	border-width:0px !important;
}

.events-panel {
	background-color: #FFF5CA
}

.events-panel-row {
	background-color: rgba(255,255,255,0) !important
}

.weekend {
	background-color: #FFE4B4
}

.booking-event-selected {
	background-color: #32CC31 !important;
	color: white;
}

.booking-event {
	-webkit-box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.32);
	-moz-box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.32);
	box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.32);

	background-color: white;
	height: 100%;
	width: 100%;
}